* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}


html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 1.6rem;
  padding: 0;
  background: #fff;
}

[class*=__container] {
  max-width: 114.5rem;
  margin: 0 auto;
  padding: 0px 1.5rem;
}

body.checked {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.text-align-center {
  text-align: center;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mb-80 {
  margin-bottom: 8rem;
}

.header {
  background: #000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 7rem;
  height: 7rem;
  position: relative;
}
.header__logo a {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
}
.header__logo a:hover {
  opacity: 0.5;
}

input {
  display: none;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 901px) {
  .nav__item:hover .drop-menu, .nav__item:hover .mega-box {
    transition: all 0.3s ease;
    top: 5.5rem;
    opacity: 1;
    visibility: visible;
  }
}
.nav__link {
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.9rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  color: #fff;
}
.nav__link:hover {
  background: #3A3B3C;
}

.mobile-item {
  display: none;
}

.drop-menu {
  position: absolute;
  background: #000;
  width: 18rem;
  line-height: 4.5rem;
  top: 8.5rem;
  opacity: 0;
  visibility: hidden;
  padding-top: 2rem;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drop-menu__item {
  width: 100%;
  text-align: center;
}
.drop-menu__item a {
  color: #f2f2f2;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.9rem 1.5rem;
  display: block;
  width: 100%;
  transition: all 0.3s ease;
  color: #fff;
}
.drop-menu__item a:hover {
  background: #3A3B3C;
}

.mega-box {
  position: absolute;
  background: #000;
  width: 100%;
  line-height: 4.5rem;
  top: 8.5rem;
  left: 0;
  opacity: 0;
  visibility: hidden;
  padding-top: 2rem;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.mega-box__content {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
.mega-box__row {
  width: 25%;
}
.mega-box__title {
  color: #fff;
  font-weight: 800;
  margin-left: 2rem;
}
.mega-box__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.mega-box__list {
  text-align: center;
  border-left: 0.1rem solid rgba(255, 255, 255, 0.5);
}
.mega-box__list li a {
  padding: 0;
  padding: 0 2rem;
  color: #d9d9d9;
  font-size: 1.7rem;
  display: block;
}
.mega-box__list li a:hover {
  background: #3A3B3C;
}

.menu-btn {
  display: none;
}

@media (max-width: 900px) {
  .mobile-item {
    text-align: center;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0.9rem 1.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    color: #fff;
    position: relative;
    z-index: 10;
    cursor: pointer;
  }
  .desktop-item {
    display: none;
  }
  .drop-menu {
    position: static;
    opacity: 0;
    visibility: visible;
    max-height: 0px;
    transition: all 0.3s ease;
    padding: 0;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
    width: 100%;
  }
  .mega-box {
    position: static;
    opacity: 0;
    visibility: visible;
    max-height: 0;
    transition: all 0.3s ease;
    padding: 0;
  }
  .mega-box__content {
    flex-direction: column;
    align-items: center;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
  }
  .mega-box__list {
    border-left: 0;
  }
  #showDrop:checked ~ .drop-menu {
    max-height: 100%;
    background: inherit;
    opacity: 1;
    box-shadow: none;
  }
  #showMega:checked ~ .mega-box {
    max-height: 100%;
    background: inherit;
    opacity: 1;
    box-shadow: none;
  }
  .menu-btn {
    display: block;
  }
  .nav {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
    text-align: center;
  }
  .nav__list {
    flex-direction: column;
  }
  .nav__item {
    width: 100%;
  }
  #menu-btn:checked ~ .nav {
    left: 0%;
  }
  #menu-btn:checked ~ .menu-btn {
    display: none;
  }
  .menu-btn,
  .close-btn {
    position: relative;
    width: 3.5rem;
    height: 2rem;
    background: transparent;
    cursor: pointer;
    transition: transform 0.3s;
  }
  .menu-btn span,
  .close-btn span {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 0.2rem;
    background: #fff;
  }
  .menu-btn::after, .menu-btn::before,
  .close-btn::after,
  .close-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 0.2rem;
    background: #fff;
  }
  .menu-btn::after,
  .close-btn::after {
    top: 100%;
  }
  .close-btn {
    position: absolute;
    top: -2.4rem;
    right: 5rem;
  }
  .close-btn::before {
    transform: rotate(-45deg);
    top: 50%;
  }
  .close-btn::after {
    transform: rotate(45deg);
    top: 50%;
  }
  .close-btn span {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */