input {
   display: none;
}
.nav {
   &__list {
      // position: relative;
      @include display-flex;
      gap: 2rem;
   }
   &__item {
      @media (min-width: 901px) {
         &:hover .drop-menu,
         &:hover .mega-box {
            transition: all 0.3s ease;
            top: 5.5rem;
            opacity: 1;
            visibility: visible;
         }
      }
   }
   &__link {
      display: block;
      color: #f2f2f2;
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: 500;
      padding: 0.9rem 2.5rem;
      border-radius: 0.5rem;
      transition: all 0.3s ease;
      color: $color-white;
      &:hover {
         background: $bg-color-hover;
      }
   }
}
.mobile-item {
   display: none;
}

.drop-menu {
   position: absolute;
   background: $color-black;
   width: 18rem;
   line-height: 4.5rem;
   top: 8.5rem;
   opacity: 0;
   visibility: hidden;
   padding-top: 2rem;
   box-shadow: $box-shadow;
   display: flex;
   align-items: center;
   flex-direction: column;
   &__item {
      width: 100%;
      text-align: center;
      a {
         color: #f2f2f2;
         font-size: 1.6rem;
         font-weight: 500;
         padding: 0.9rem 1.5rem;
         display: block;
         width: 100%;
         transition: all 0.3s ease;
         color: $color-white;
         &:hover {
            background: $bg-color-hover;
         }
      }
   }
}
.mega-box {
   position: absolute;
   background: $color-black;
   width: 100%;
   line-height: 4.5rem;
   top: 8.5rem;
   left: 0;
   opacity: 0;
   visibility: hidden;
   padding-top: 2rem;
   box-shadow: $box-shadow;
   &__content {
      display: flex;
      gap: 2rem;
      padding: 2rem;
   }
   &__row {
      width: calc(25%);
   }
   &__title {
      color: $color-white;
      font-weight: 800;
      margin-left: 2rem;
   }
   &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
   }
   &__list {
      text-align: center;
      border-left: 0.1rem solid rgba(255, 255, 255, 0.5);

      li {
         a {
            padding: 0;
            padding: 0 2rem;
            color: #d9d9d9;
            font-size: 1.7rem;
            display: block;
            &:hover {
               background: $bg-color-hover;
            }
         }
      }
   }
}
.menu-btn {
   display: none;
}
@include respond(tab-port) {
   .mobile-item {
      text-align: center;
      display: block;
      color: #f2f2f2;
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: 500;
      padding: 0.9rem 1.5rem;
      border-radius: 0.5rem;
      transition: all 0.3s ease;
      color: $color-white;
      position: relative;
      z-index: 10;
      cursor: pointer;
   }

   .desktop-item {
      display: none;
   }
   .drop-menu {
      position: static;
      opacity: 0;
      visibility: visible;
      max-height: 0;
      transition: all 0.3s ease;
      padding: 0;
      border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
      border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
      width: 100%;
   }
   .mega-box {
      position: static;
      opacity: 0;
      visibility: visible;
      max-height: 0;
      transition: all 0.3s ease;
      padding: 0;
      // z-index: 5;
      // position: relative;
      &__content {
         flex-direction: column-reverse;
         align-items: center;
         border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
         border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
      }
      &__row {
         width: calc(100%);
      }
      &__list {
         border-left: 0;
      }
      &__title {
         margin: 0;
         font-size: 2rem;
      }
   }
   #showDrop:checked {
      & ~ .drop-menu {
         // visibility: visible;
         max-height: 100%;
         background: inherit;
         opacity: 1;
         box-shadow: none;
      }
      & ~ .arrow::before {
         transform: rotate(47deg);
         top: calc(50% - .2rem);
      }
      & ~ .arrow::after {
         transform: rotate(315deg);
         top: calc(50% - .2rem);
      }
   }
   #showMega:checked {
      & ~ .mega-box {
         // visibility: visible;
         max-height: 100%;
         background: inherit;
         opacity: 1;
         box-shadow: none;
      }
      & ~ .arrow::before {
         transform: rotate(47deg);
         top: calc(50% - .2rem);
      }
      & ~ .arrow::after {
         transform: rotate(315deg);
         top: calc(50% - .2rem);
      }
   }

   .menu-btn {
      display: block;
   }
   .nav {
      position: fixed;
      height: 100vh;
      width: 100%;
      top: 0;
      left: -100%;
      background: #242526;
      display: block;
      padding: 5rem 3rem;
      overflow-y: auto;
      box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.18);
      transition: all 0.3s ease;
      text-align: center;
      &__list {
         flex-direction: column;
         position: relative;
      }
      &__item {
         width: 100%;
      }
   }
   #menu-btn:checked ~ .nav {
      left: 0%;
   }
   #menu-btn:checked ~ .menu-btn {
      display: none;
   }
   .menu-btn,
   .close-btn {
      position: relative;
      width: 3.5rem;
      height: 2rem;
      background: transparent;
      cursor: pointer;
      transition: transform 0.5s;
      span {
         position: absolute;
         // display: inline-block;
         width: 100%;
         left: 0;
         top: 50%;
         transform: translateY(-50%);
         height: 0.2rem;
         background: $color-white;
      }
      &::after,
      &::before {
         content: "";
         position: absolute;
         width: 100%;
         left: 0;
         top: 0;
         height: 0.2rem;
         background: $color-white;
      }
      &::after {
         top: 100%;
      }
   }
   .close-btn {
      position: absolute;
      top: -2.4rem;
      right: 5rem;
      &::before {
         transform: rotate(-45deg);
         top: 50%;
      }
      &::after {
         transform: rotate(45deg);
         top: 50%;
      }
      span {
         opacity: 0;
      }
   }
   .arrow {
      // width: .3rem;
      // height: .5rem;
      // background: #d9d9d9;
      // display: block;
      position: relative;
      &::after,
      &::before {
         content: "";
         position: absolute;
         display: block;
         width: 0.2rem;
         top: calc(50% + .2rem);
         right: 0.8rem;
         transform-origin: 50% 0.1rem;
         height: 1rem;
         background: $color-white;
         border-radius: 0.5rem;
         transition: transform 0.3s ease;
      }
      &::after {
         transform: rotate(230deg);
      }
      &::before {
         transform: rotate(130deg);
      }
   }
}
@media (min-width: 901px) {
   .arrow {
      // width: .3rem;
      // height: .5rem;
      // background: #d9d9d9;
      // display: block;
      position: relative;
      &::after,
      &::before {
         content: "";
         position: absolute;
         display: block;
         width: 0.2rem;
         top: calc(50% + .2rem);
         right: 0.8rem;
         transform-origin: 50% 0.1rem;
         height: 1rem;
         background: $color-white;
         border-radius: 0.5rem;
         transition: transform 0.3s ease;
      }
      &::after {
         transform: rotate(230deg);
      }
      &::before {
         transform: rotate(130deg);
      }
      &:hover::before {
         transform: rotate(47deg);
         top: calc(50% - .2rem);
      }
      &:hover::after {
         transform: rotate(315deg);
         top: calc(50% - .2rem);
      }
   }
}
